@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary-color: #2b3a42;
$secondary-color: #FFFFFF;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
  color: $secondary-color;
}

.container {
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
}

h1 {
  font-size: 35px;
  margin: 0 0 30px;
  letter-spacing: 5px;
}

img {
  max-width: 200px;
  width: 100%;
}


